
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}

